
.navbar-custom {
	background-color: #00ebc4;

}

.navbar-custom .navbar-text {
	color: #fff;
	text-decoration: none;
}

.nav-link {
	color: #022261;
}

.nav-link:hover {
	color: magenta;
}

.all {
	background-color: #022261;
	color: #00ebc4;
}

h1 {
	padding-top: 10px;
	padding-bottom: 5px;
}

p.intro, p.about, ol {
	color: #fff;
	margin-bottom: 0px;
	font-size: 16px;
}

p.intro, p.about {
	margin-bottom: 10px;
}

img.landing_image {
	margin-top: 10px;
	height: 100%;
	width: 500px;
}



.subheadings {
	background-color: #022261;
	color: #00ebc4;
	font-weight: bold;
	font-size: 30px;
	background: dotted #00ebc4 bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.spans {
	color: magenta;
	font-size: 20px;
	font-weight: normal;
}


.spans:hover {
	color: #fff
}

.center11 {
	text-align: center;
}

.people {
	padding-bottom: 15px;
}

.name {
	margin-top: 10px;
}

.name a {
	/* text-decoration: underline; */
	/* font-weight: bold; */
	color: #fff;
	font-size: 16px;
}

.name {
	font-size: 15px;
	font-style: bold;
	text-decoration: none;
	color: #ffffff;

}

.name a:hover {
	text-decoration: none;
	font-weight: bold;
	color: magenta;
}