body{
    margin:15;
    /* background-color: burlywood; */
    text-align: center;
}

.ProjectName{
    color: brown;
}
a{
    text-decoration: none;}

.scroll_effect{
    background-image: url("restaurant1.jpg");
    position: relative; 
    height: 395px ; 
    background-attachment:fixed;
    background-repeat: no-repeat;
    padding-right: 00px;
    background-size: 720px 532px;
    background-position-x: 45px;
    width: 670px;
    top: 7px;
    }

    .parallax {
        /* The image used */
        background-image: url("airplane\ 2.jpg");
      
        /* Set a specific height */
        min-height: 500px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
          opacity: 0.9;
      }